.home {
  display: flex;
  width: 100vw;
  max-width: 100%;
  height: auto;
  flex-direction: column;
}
.photo_section{
  padding: .5rem;
  background-color: #f9f9f9;
}

.home_img {
  width: 100%;
  height: auto;
  display: block;
  position: relative;

  img {
    width: 100%;
  }
}

mat-grid-tile {
  background: lightblue;
}
.statBox{
  position: relative;
}
.statFigure {
    width: 80%;
    line-height: 1;
    font-size: 14px;
    position: relative;
    padding: 15px;
    z-index: 2;
    position: absolute;
    top: 20px;
    color: yellow;
}
@media (min-width: 640px) {
    .sfCount {
        font-size: 300%;
    }
}

.sfCount {
    font-size: 200%;
    font-weight: 600;
}
.sfText {
    font-size: 18px;
}
.statBox:before {
    background: linear-gradient(-55deg, rgba(51, 131, 250, 0) 20%, rgb(6, 52, 117) 100%);
}
.statBox:before{
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: all .50s ease;
    border-radius: 1rem;
}
.statBox:after {
    background: linear-gradient(-55deg, rgba(51, 131, 250, 0) 20%, rgb(63, 143, 255) 100%);
    opacity: 0;
    border-radius: 1rem;
}

.statBox:hover {
    transform: scale(1.02);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .3);
    z-index: 2;
}
.counter {
  font-size: 3rem;
  font-weight: bold;
  color: white;
  animation: blinkAnimation 1s infinite alternate;
}

.column {
  display: flex;
  flex-direction: column;
  height: 80vh; /* full screen height */
}

.half {
  flex: 1;
  overflow: hidden; /* ensures no overflow height */
  display: flex;
}

.top {
  align-items: center;
  justify-content: center;
  background: #e3f2fd;
}

.bottom-row {
  display: flex;
  gap: 16px;
}

.half-child {
  flex: 1;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* Optional Blink Effect */
@keyframes blinkAnimation {
  0% { opacity: 1; }
  100% { opacity: 0.6; }
}

.flex-vertical-child{
  flex: 1;
}

.video-wrapper {
  height: 90%;
  overflow: hidden;
  //aspect-ratio: 16/ 9;
}
.video-wrapper:before {
    background: linear-gradient(-55deg, rgba(51, 131, 250, 0) 20%, rgb(6, 52, 117) 100%);
}
.video-wrapper video:before {
    background: linear-gradient(-55deg, rgba(51, 131, 250, 0) 20%, rgb(6, 52, 117) 100%);
}
.video-wrapper video {
  width: 100.2%;
  height: 100%;
  object-fit:cover;
  /* or use 'contain' for full visibility */
  display: block;
  margin-top: -8rem;
}
@media (max-width:768px) {
.video-wrapper video {
  width: 100%;
  height: 100%;
  object-fit:cover;
  /* or use 'contain' for full visibility */
  display: block;
  margin-top: -0;
}
}
.logo_img_small{
  min-width: 15rem !important;
}
.mat-mdc-card{
  background-color: aliceblue;
}
.img_section{
width:100%;
height: 100%;
object-fit: cover;
border-radius: 1rem;
}
.crcLogoImg{
width: 8rem;
height: 8rem;
}

.animate-image {
  animation: slideUp 0.6s ease-out forwards;
}

.big-div {
  height: 100%;
  background: #f0f0f0;
  opacity: 0;
  transform: translateY(60px);
  transition: all 0.6s ease-out;
  margin-bottom: 40px;
}

.animate-slide {
  opacity: 1;
  transform: translateY(0);
}

.congratsImg{
  width:100%;
  height: 30rem;
  object-fit: contain;
}

/* distingwish professors */

 .professorTable > div {max-width:100%;flex-shrink:1; background-color: #f9f9f9;;}

 .dtperBox {width:100%;max-width:350px;position:relative;border-radius:10px;color:#fff;transition:all .4s ease;
     background: linear-gradient(180deg, #134080 0%, #040D1A 100%);}
 .dtperImgBox {
  //margin-top:-50px;
  overflow:hidden;}
 .dtperImgBox img {transition:all .4s ease;top:0;opacity:1;position:relative;width: 100%;
    max-height: 350px;}
 .dtperDetail {padding:10px 15px;position:relative;z-index:2;}
 .dtperName {font-size:14px;font-weight:600;margin-bottom:0; letter-spacing: .7px;}
 .dtperDesig {font-size:11px;text-transform:uppercase;}
 .dtperContent {width:100%;height:100%;position:absolute;
  //bottom:30px;
  top:0;
  left:0;font-size:15px;line-height:1.5;border-radius:10px;padding:0;opacity:0;transition:all .4s ease;z-index:1;}
 .dtperContent p{ padding: .5rem;}
  .dtperBox:hover .dtperContent {opacity:1;bottom:0}
 .dtperBox:hover .dtperImgBox img {filter:grayscale(100%);opacity:.2;top:50px;}
 @media (min-width:768px) {
 .professorTable > div {max-width:50%;flex-shrink:1;}
 }
 @media (min-width:1024px) {
 .professorTable > div {width:30%;max-width:33.33%;flex-shrink:1;}
 }

.profImgBox {max-width:450px;margin:0 auto;}
.profImgBox .profImg {width:100%;height:100%;object-fit:contain;object-position:bottom;}

.profContent p {font-size:16px;line-height:1.8;color: rgba(255, 255, 255, 0.7);}
.profContent .profName {color:var(--yellowColor);font-size:24px;font-weight:600;line-height:1.5;}
.profContent .designation {color:#fff;font-size:14px;line-height:1.5;}

@media (min-width:640px) {
.profImgBox {max-width:350px;margin:0 auto;}
}
@media (min-width:768px) {
.profContBox {padding-top:0;}
.professorSwiper:before {font-size:5vw;}
.profImgBox {max-width:unset;}
}
@media (min-width:1024px) {
.profContBox {padding-top:0px;}
/* .professorSwiper:before {height:100px;} */
}
@media (min-width:1280px) {
.profContent p {font-size:18px;}
}
@media (min-width:1536px) {
.profContBox {padding-top:0px;}
/* .professorSwiper:before {height:130px;} */
}

// logo section
.crcLogoContainer{
background-color: #f9f9f9;
}

// govt link section
.govt-section{
  .govt-img-container{
    box-shadow: .3rem .3rem #f9f9f9;
  }
}
.govt_img{
  height: 7rem;
  max-height: 7rem;
}

.highlight-img{
  width:100%;height:100%
}
.events-img{
  height:60vh;
  width:100%;
}
.highlights-swipper{
  display: flex;
  height: 70vh;
}
.highlights-slides{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  background: #f0f0f0;
  flex-direction: column;
  .events-img{
    width:100%;
    height: 100%;
  }
  a {
    text-align: center;
  }
  h6{
    margin:0
  }
}