
.home{
    display: flex;
     width: 100vw;
  max-width: 100%;
    height: auto;
    flex-direction: column ;
}
.home_img{
    width: 100%;
  height: auto;
  display: block;
  img{
    width: 100%;
  }
}
.about_section{
    display: flex;
    min-width: 100%;
    height: 100vh;
}
// .video_section{
//     min-width: 60%;
//     max-height: 600px;
// }
.video-frame {
  width: 40%;
    height: auto;
    aspect-ratio: 16 / 9;
    border-radius: 5px;
    overflow: hidden;
    background-color: #000;
    background-position: center center;
    background-size: cover;
    position: relative;
    z-index: 0;
}

.video-frame video {
      width: 100%;
    height: 100%;
    position: absolute;
    //object-fit: cover;/* or use 'contain' if you want the full video visible */
}
.about_content{
    width: 60%;
}