<mat-toolbar color="primary" class="header_s2">
    <img (click)="navigateToHome()" src="assets/logo/Logo.png" alt="Logo" class="logo" />

    <span class="spacer"></span>
    <div class="head-course-carousel">
        <swiper-container direction="vertical" loop="true" autoplay-delay="2500" speed="1000" space-between="20"
            slides-per-view="1" class="vertical-swiper">
            <swiper-slide>
                <span>Pharmaceutical Seience</span>
            </swiper-slide>
            <swiper-slide>
                <span>Physical Seience</span>
            </swiper-slide>
            <swiper-slide>
                <span>Agriculture Seience</span>
            </swiper-slide>
            <swiper-slide>
                <span>Phd Programs</span>
            </swiper-slide>
        </swiper-container>
    </div>
    @if (!isMobile()) {
    <div class="erp-login">
        <a class="" href="https://www.starexuniversity.com/app-assets/vendors/assets/nirf-data-2023.pdf">NIRF Report</a>

    </div>
    <div class="erp-login">
        <a class="flashButton" href="https://www.starexuniversity.com/admission/">Apply Online</a>

    </div>
    <div class="erp-login">
        <a class="" href="https://www.starexuniversity.com/international-students">International Admission</a>
    </div>
    <div class="erp-login">
        <a href="http://erp.starexuniversity.in/index.php" target="_blank"> ERP LOGIN </a>
    </div>
    }

    <div [matMenuTriggerFor]="schoolList" #menuTrigger="matMenuTrigger" class="hamburger">
        @if (!menuTrigger.menuOpen) {
        <mat-icon>menu</mat-icon>
        }
        @else {
        <mat-icon>close</mat-icon>
        }
    </div>
    <mat-menu #schoolList="matMenu" yPosition="below">
        @if(!isMobile()){
        <mat-tab-group (click)="handleDivClick($event)">
            <mat-tab label="About Starex">
              <div class="about-links-flex">
                        <ul class="about-column">
                            <li><a routerLink="about-starex" (click)="handleAnchorClick()">About Us</a></li>
                            <li><a routerLink="chancellor-message" (click)="handleAnchorClick()">Chancellor's Message</a></li>
                            <li><a routerLink="vice-chancellor-message" (click)="handleAnchorClick()">Vice Chancellor's Message</a></li>
                            <li><a routerLink="registrar-message" (click)="handleAnchorClick()">Registrar Message</a></li>
                            <li><a routerLink="osd-message" (click)="handleAnchorClick()">OSD Message</a></li>
                            <li><a routerLink="coe" (click)="handleAnchorClick()">COE</a></li>
                            <li><a routerLink="approval-recognition" (click)="handleAnchorClick()">Recognition & Approval</a></li>
                        </ul>
<div class="vertical-divider"></div>
                        <ul class="about-column">
                            <li><a routerLink="disclosure" (click)="handleAnchorClick()">Mandatory Disclosure</a></li>
                            <li><a routerLink="starex-mou" (click)="handleAnchorClick()">Starex MOU's</a></li>
                            <li><a (click)="openPdfInNewTab('assets/pdf/information_for_ugc_inspection.pdf')">UGC
                                    Inspection Info</a></li>
                            <li><a routerLink="annual-reports" (click)="handleAnchorClick()">Annual Reports</a></li>
                            <li><a (click)="previewPdf('assets/pdf/2025_about_ombudsperson.pdf')">Ombudsperson</a></li>
                            <li><a routerLink="policies" (click)="handleAnchorClick()">Policies</a></li>
                            <li><a routerLink="organogram" (click)="handleAnchorClick()">Organogram</a></li>
                        </ul>
                    </div>
            </mat-tab>

            <mat-tab label="Governance">
               <div class="about-links-flex">
                        <ul class="about-column">
                    <li>
                        <a routerLink="university-authorities" (click)="handleAnchorClick()">University Authorities</a>
                    </li>
                    <li>
                        <a routerLink="committees" (click)="handleAnchorClick()">Committees & Boards </a>
                    </li>
                </ul>
                </div>
            </mat-tab>
            <mat-tab label="Faculty Directory">
                <div class="about-links-flex">
                        <ul class="about-column">
                    <li>
                        <a (click)="goToFaculty('computerScience')">Computer Science</a>
                    </li>
                    <li>
                        <a (click)="goToFaculty('enggTechnology')">Engineering & Technology</a>
                    </li>
                    <li>
                        <a (click)="goToFaculty('pharmaceutics')">Pharmaceutical Science</a>
                    </li>
                    <li>
                        <a (click)="goToFaculty('physicalScience')">Physical Science</a>
                    </li>
                    <li>
                        <a (click)="goToFaculty('lifeScience')">Life Science</a>
                    </li>
                    <li>
                        <a (click)="goToFaculty('humanities')">Humanities Science</a>
                    </li>
                    </ul>
                    <div class="vertical-divider"></div>
                    <ul class="about-column">
                    <li>
                        <a (click)="goToFaculty('commerce')">Commerce Management</a>
                    </li>
                    <li>
                        <a (click)="goToFaculty('agriculture')">Agriculture Science</a>
                    </li>
                    <li>
                        <a (click)="goToFaculty('hotelManagement')">Hotel-management</a>
                    </li>
                    <li>
                        <a (click)="goToFaculty('law')">Law Faculty</a>
                    </li>

                </ul>
                    </div>
            </mat-tab>
            <mat-tab label="Schools">
              <div class="about-links-flex">
                        <ul class="about-column">
                    <li>
                        <a routerLink="agriculture" (click)="handleAnchorClick()">Agriculture Science</a>
                    </li>
                    <li>
                        <a routerLink="commerce&management" (click)="handleAnchorClick()">Commerce &amp; Management</a>
                    </li>

                    <li>
                        <a routerLink="computerscience&technology" (click)="handleAnchorClick()">Computer Science &amp;
                            Technology </a>
                    </li>
                    <li>
                        <a routerLink="engineering&technology" (click)="handleAnchorClick()">Engineering &amp;
                            Technology</a>
                    </li>

                    <li>
                        <a routerLink="hotel-management" (click)="handleAnchorClick()">Hotel Management</a>
                    </li>
                    </ul>
                    <div class="vertical-divider"></div>
                    <ul class="about-column">
                    <li>
                        <a routerLink="humanities" (click)="handleAnchorClick()">Humanities</a>
                    </li>
                    <li>
                        <a routerLink="law" (click)="handleAnchorClick()">Law</a>
                    </li>
                    <li>
                        <a routerLink="life-science" (click)="handleAnchorClick()">Life Sciences</a>
                    </li>
                    <li>
                        <a routerLink="physical-science" (click)="handleAnchorClick()">Physical Sciences</a>
                    </li>
                    <li>
                        <a routerLink="pharmaceutical-science" (click)="handleAnchorClick()">Pharmaceutical Science </a>
                    </li>
                    <li>
                        <a routerLink="vocational-courses" (click)="handleAnchorClick()">Vocational Courses</a>
                    </li>

                </ul>
                </div>
            </mat-tab>
            <mat-tab label="Study Abroad">
                <div class="about-links-flex">
                        <ul class="about-column">
                    <li>
                        <a routerLink="ICHM" (click)="handleAnchorClick()">ICHM, Adelaide, Australia </a>
                    </li>

                    <li>
                        <a routerLink="apprenticeship-training" (click)="handleAnchorClick()">The Apprenticeship
                            Training Program For
                            Hospitality, GERMANY , Europe</a>
                    </li>
                </ul>
                </div>
            </mat-tab>
            <mat-tab label="Facility">
                <div class="about-links-flex">
                        <ul class="about-column">
                    <li>
                        <a routerLink="campus-view" (click)="handleAnchorClick()">Campus View</a>
                    </li>

                    <li>
                        <a routerLink="library" (click)="handleAnchorClick()">Library</a>
                    </li>
                    <li>
                        <a routerLink="modern-hostel" (click)="handleAnchorClick()">Modern Hostel</a>
                    </li>

                    <li>
                        <a routerLink="wi-fi-campus" (click)="handleAnchorClick()">Wi-Fi Campus</a>
                    </li>
                    <li>
                        <a routerLink="transport-facility" (click)="handleAnchorClick()">Transport Facility</a>
                    </li>

                    <li>
                        <a routerLink="playground" (click)="handleAnchorClick()">Playground</a>
                    </li>
                    <li>
                        <a routerLink="gym" (click)="handleAnchorClick()">Gym</a>
                    </li>

                    <li>
                        <a routerLink="medical-hospital" (click)="handleAnchorClick()">Medical</a>
                    </li>
                </ul>
                </div>
            </mat-tab>
            <mat-tab label="Alumni">
                <div class="about-links-flex">
                        <ul class="about-column">
                    <!-- <li>
                        <a routerLink="law" (click)="handleAnchorClick()">Message</a>
                    </li>

                    <li>
                        <a routerLink="law" (click)="handleAnchorClick()">Register</a>
                    </li> -->
                    <li>
                        <a routerLink="alumni-mom-notice" (click)="handleAnchorClick()">Alumni Association</a>
                    </li>

                    <li>
                        <a routerLink="gallery" (click)="handleAnchorClick()">Gallery</a>
                    </li>
                </ul>
                </div>
            </mat-tab>
            <mat-tab label="Media">
                <div class="about-links-flex">
                        <ul class="about-column">
                    <li>
                        <a routerLink="news" (click)="handleAnchorClick()">News</a>
                    </li>

                    <li>
                        <a routerLink="events" (click)="handleAnchorClick()">Events</a>
                    </li>
                    <li>
                        <a routerLink="press-coverage" (click)="handleAnchorClick()">Press Coverage</a>
                    </li>

                    <li>
                        <a routerLink="achivements" (click)="handleAnchorClick()">Achievements</a>
                    </li>
                </ul>
                </div>
            </mat-tab>
            <mat-tab label="Examination">
                <div class="about-links-flex">
                        <ul class="about-column">
                    <li>
                        <a routerLink="results" (click)="handleAnchorClick()">Results</a>
                    </li>
                    <li>
                        <a routerLink="datesheet" (click)="handleAnchorClick()">Datesheet</a>
                    </li>
                    <li>
                        <a routerLink="examination-schedule" (click)="handleAnchorClick()">Examination Schedule</a>
                    </li>
                    <li>
                        <a routerLink="NAD-Cell" (click)="handleAnchorClick()">University NAD Cell</a>
                    </li>
                </ul>
                </div>
            </mat-tab>
        </mat-tab-group>
        }
        @else {
        <mat-accordion class="vertical-menu">
            <mat-expansion-panel *ngFor="let section of aboutStarexSections" (click)="handleDivClick($event)">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{ section.title }}
                    </mat-panel-title>
                    <mat-panel-description>
                        <!-- <div class="dropdown-toggle" (click)="isMenuOpen = !isMenuOpen">
  @if (!isMenuOpen) {
    <mat-icon>keyboard_arrow_down</mat-icon>
  } @else {
    <mat-icon>keyboard_arrow_up</mat-icon>
  }
</div> -->

                    </mat-panel-description>
                </mat-expansion-panel-header>

                <ul class="dropmenu">
                    <li *ngFor="let item of section.links">
                        <a *ngIf="item.type === 'router'" [routerLink]="item.path" (click)="handleAnchorClick()">
                            {{ item.label }}
                        </a>
                        <a *ngIf="item.type === 'pdf'" (click)="openPdfInNewTab(item.path)">
                            {{ item.label }}
                        </a>
                    </li>
                </ul>
            </mat-expansion-panel>
        </mat-accordion>
        }
    </mat-menu>

</mat-toolbar>