.logo {
  height: 4rem;
  width: auto;
  margin-right: 16px;
  cursor: pointer;
}
ul{
  list-style: none;
  display: flex;
    flex-direction: column;
    padding: 0 0 0 2rem;
    justify-content: unset;
    align-items: flex-start;
}
.cdk-overlay-pane{
top:50px !important
}
/* accordion-grid.component.css */
mat-accordion.accordion-grid {
  gap: 16px;
}


.desktop-nav{
display: flex;
flex-direction: row;
  flex-wrap: wrap;
  gap: 16px
}
.example-card{
  flex: 0 0 calc(33% - 16px); /* 4 items per row */
  background: #e0e0e0;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  img{
    object-fit: contain;
  }
}
@media (max-width: 1024px) {
  mat-accordion.accordion-grid {
     display: grid !important;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  mat-accordion.accordion-grid {
    grid-template-columns: 1fr;
  }
}

.close-icon{
  position: absolute;
  top:50;
  right:2rem;
  p{
    font-weight: 800;
    font-size: 2rem;
    color: white;
    cursor: pointer;
  }
}
a {
  display: inline-block;
  text-decoration: none;
  border-radius: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  perspective: 1000px; /* Enables 3D effect */
  min-height: 2rem;
  width:100%;
  color:#e3eef4
}
a:hover {
  transform: rotateX(5deg) rotateY(5deg) scale(1.05);
}

.spacer {
  flex: 1 1 auto;
}

.header_s1 {
  background-color: #1f396e;
  --focus-outline-color: #CEDEDA;
  color: white
}

.header_s2 {
   width: 100vw;
  max-width: 100%;
   position: sticky;
  top: 0;
  background: linear-gradient(to bottom, #003366, #004C97);
  --focus-outline-color: #CEDEDA;
  color: white;
  z-index: 2;
}

button {
  color: white !important;
}

.header_img {
  height: 100vh;
  width: 98.5vw;
}
.erp-login{
  margin-right: 1rem;
  cursor: pointer;
  font-size: 18px;
  transition: all ease-out 3ms
}
.erp-login:hover{
  font-size: 16px;
  transform: matrix3d();
  background-color: #003366;
}
.hamburger {
    position: relative;
    width: 30px;
    height: 23px;
    cursor: pointer;
    z-index: 1;
}
.hamburger span {
    width: 100%;
    height: 3px;
    background: #fff;
    position: absolute;
    display: block;
    transition: all 0.3s ease;
    border-radius: 2px;
}
.hamburger span:first-child {
    top: 0;
}
.hamburger span:nth-child(2) {
    top: 10px;
    left: 0;
}
.hamburger span:last-child {
    top: 20px;
}

.school_list {
  display: flex;
  margin-top: 80px;
 // flex-direction: column;
}

.schoolContainer {
  width: 100%;
  background: #ffffffc4;
  text-align: center;
  position: relative;
  border: 1px solid green;
  border-radius: 2px;
  max-width: 200px;
  margin-top: 100px;
}

.schoolimage {
      position: relative;
    width: 70px;
    top: -33px;
    margin-left: auto;
    margin-right: auto;
}

.schoolimage img {
     width: 100%;
    transition: all 1s;
}

.title {
  width: 100%;
  font-size: 14px;
  overflow-wrap: break-word;
  word-break: break-word;
  white-space: normal;
  overflow-x: hidden;
}
.title a {
  display: inline-block;
  max-width: 100%;
  text-decoration: none;
}
 .schoolContainer:hover {
    animation: pulse 1s 1;
    animation-timing-function: linear;
    box-shadow: 0 0 2px 2px #284fa7;
}
.schoolContainer:hover img {
  transform: rotate(360deg);
}
.schoolContainer:hover .title a {
  transform: rotate(360deg);
  font-size: 1rem;
  font-weight: 400;
}