<mat-toolbar color="primary" class="header_s2">
    <img (click)="navigateToHome()" src="assets/logo/Logo.png" alt="Logo" class="logo" />

    <span class="spacer"></span>
    <!-- <button class="blink-button">Click Me</button> -->
    <div class="erp-login">
        <!-- <mat-icon>fingerprint</mat-icon> -->
        <a> ERP LOGIN </a>
    </div>
    <div [matMenuTriggerFor]="schoolList" #menuTrigger="matMenuTrigger" class="hamburger">
        <mat-icon *ngIf="!menuTrigger.menuOpen">menu</mat-icon>
        <mat-icon *ngIf="menuTrigger.menuOpen">close</mat-icon>
    </div>

    <mat-menu #schoolList="matMenu" yPosition="below">
        <mat-tab-group (click)="handleDivClick($event)">
            <mat-tab label="About Starex">
                <ul class="dropmenu">
                    <li>
                        <a routerLink="about-starex" (click)="handleAnchorClick()">About Us</a>
                    </li>
                    <li>
                        <a routerLink="chancellor-message" (click)="handleAnchorClick()">Chancellor's Message</a>
                    </li>
                    <li>
                        <a routerLink="vc-message" (click)="handleAnchorClick()">Vice Chancellor's Message</a>
                    </li>
                    <li>
                        <a routerLink="registrar-message" (click)="handleAnchorClick()">Registrar Message</a>
                    </li>
                    <li>
                        <a routerLink="osd-message" (click)="handleAnchorClick()">OSD Message</a>
                    </li>
                    <li>
                        <a routerLink="coe" (click)="handleAnchorClick()">COE</a>
                    </li>
                    <li>
                        <a routerLink="approval-recognition" (click)="handleAnchorClick()">Recognition &amp; Approval</a>
                    </li>
                    <li>
                        <a routerLink="disclosure" (click)="handleAnchorClick()">Mandatory Disclosure</a>
                    </li>
                    <li>
                        <a routerLink="starex-mou" (click)="handleAnchorClick()">Starex MOU's</a>
                    </li>
                    <li>
                        <a routerLink="ugc-inspection" (click)="handleAnchorClick()">Information for UGC Inspection</a>
                    </li>
                    <li>
                        <a routerLink="annual-reports" (click)="handleAnchorClick()">Annual Reports</a>
                    </li>
                    <li>
                        <a routerLink="ombudsperson" (click)="handleAnchorClick()">Ombudsperson</a>
                    </li>
                    <li>
                        <a routerLink="policies" (click)="handleAnchorClick()">Policies</a>
                    </li>
                    <li>
                        <a routerLink="organogram" (click)="handleAnchorClick()">Organogram</a>
                    </li>
                </ul>
            </mat-tab>

            <mat-tab label="Governance">
                <ul class="dropmenu">
                    <li>
                        <a routerLink="law" (click)="handleAnchorClick()">University Authorities</a>
                    </li>
                    <li>
                        <a routerLink="law" (click)="handleAnchorClick()">Committees & Boards </a>
                    </li>
                </ul>
            </mat-tab>
            <mat-tab label="Schools">
                <ul class="dropmenu">
                    <li>
                        <a routerLink="agriculture" (click)="handleAnchorClick()">Agriculture Science</a>
                    </li>
                    <li>
                        <a routerLink="commerce&management" (click)="handleAnchorClick()">Commerce &amp; Management</a>
                    </li>
                    <li>
                        <a routerLink="physical-science" (click)="handleAnchorClick()">Physical Sciences</a>
                    </li>
                    <li>
                        <a routerLink="computerscience&technology" (click)="handleAnchorClick()">Computer Science &amp; Technology </a>
                    </li>
                    <li>
                        <a routerLink="engineering&technology" (click)="handleAnchorClick()">Engineering &amp; Technology</a>
                    </li>
                    <li>
                        <a routerLink="pharmaceutical-science" (click)="handleAnchorClick()">Pharmaceutical Science </a>
                    </li>
                    <li>
                        <a routerLink="hotel-management" (click)="handleAnchorClick()">Hotel Management</a>
                    </li>
                    <li>
                        <a routerLink="humanities" (click)="handleAnchorClick()">Humanities</a>
                    </li>
                    <li>
                        <a routerLink="law" (click)="handleAnchorClick()">Law</a>
                    </li>
                    <li>
                        <a routerLink="life-science" (click)="handleAnchorClick()">Life Sciences</a>
                    </li>
                    <li>
                        <a routerLink="vocational-courses" (click)="handleAnchorClick()">Vocational Courses</a>
                    </li>

                </ul>
            </mat-tab>
            <mat-tab label="Study Abroad">
                <ul>
                    <li>
                        <a routerLink="law" (click)="handleAnchorClick()">ICHM, Adelaide, Australia </a>
                    </li>

                    <li>
                        <a routerLink="law" (click)="handleAnchorClick()">The Apprenticeship Training Program For
                            Hospitality, GERMANY , Europe</a>
                    </li>
                </ul>
            </mat-tab>
            <mat-tab label="Facility">
                <ul>
                    <li>
                        <a routerLink="law" (click)="handleAnchorClick()">Campus View</a>
                    </li>

                    <li>
                        <a routerLink="law" (click)="handleAnchorClick()">Library</a>
                    </li>
                    <li>
                        <a routerLink="law" (click)="handleAnchorClick()">Modern Hostel</a>
                    </li>

                    <li>
                        <a routerLink="law" (click)="handleAnchorClick()">Wi-Fi Campus</a>
                    </li>
                    <li>
                        <a routerLink="law" (click)="handleAnchorClick()">Transport Facility</a>
                    </li>

                    <li>
                        <a routerLink="law" (click)="handleAnchorClick()">Playground</a>
                    </li>
                </ul>
            </mat-tab>
            <mat-tab label="Alumni">
                <ul>
                    <li>
                        <a routerLink="law" (click)="handleAnchorClick()">Message</a>
                    </li>

                    <li>
                        <a routerLink="law" (click)="handleAnchorClick()">Register</a>
                    </li>
                    <li>
                        <a routerLink="law" (click)="handleAnchorClick()">Alumni Association</a>
                    </li>

                    <li>
                        <a routerLink="law" (click)="handleAnchorClick()">Gallery</a>
                    </li>
                </ul>
            </mat-tab>
            <mat-tab label="Media">
                <ul>
                    <li>
                        <a routerLink="law" (click)="handleAnchorClick()">News</a>
                    </li>

                    <li>
                        <a routerLink="law" (click)="handleAnchorClick()">Events</a>
                    </li>
                    <li>
                        <a routerLink="law" (click)="handleAnchorClick()">Press Coverage</a>
                    </li>

                    <li>
                        <a routerLink="law" (click)="handleAnchorClick()">Achievements</a>
                    </li>
                </ul>
            </mat-tab>
            <mat-tab label="Examination">
                <ul>
                    <li>
                        <a routerLink="law" (click)="handleAnchorClick()">Results</a>
                    </li>
                    <li>
                        <a routerLink="law" (click)="handleAnchorClick()">Datesheet</a>
                    </li>
                    <li>
                        <a routerLink="law" (click)="handleAnchorClick()">Examination Schedule</a>
                    </li>
                    <li>
                        <a routerLink="law" (click)="handleAnchorClick()">University NAD Cell</a>
                    </li>
                    <li>
                        <a routerLink="law" (click)="handleAnchorClick()">Examination Form</a>
                    </li>
                    <li>
                        <a routerLink="law" (click)="handleAnchorClick()">Reappear Form</a>
                    </li>
                </ul>
            </mat-tab>
        </mat-tab-group>

        <!-- <mat-accordion (click)="handleDivClick($event)" class="accordion-grid" [multi]="false">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title> About Starex </mat-panel-title>
                </mat-expansion-panel-header>
                <ul class="dropmenu">
                    <li>
                        <a routerLink="law" (click)="handleAnchorClick()">About Starex</a>
                    </li>
                    <li>
                        <a routerLink="law" (click)="handleAnchorClick()">Chancellor Message</a>
                    </li>
                    <li>
                        <a routerLink="law" (click)="handleAnchorClick()">Vice Chancellor Message</a>
                    </li>

                    <li>

                        <a routerLink="law" (click)="handleAnchorClick()">Registrar Message</a>
                    </li>
                    <li> <a routerLink="law" (click)="handleAnchorClick()">Annual Reports</a>
                    </li>
                    <li>
                        <a routerLink="law" (click)="handleAnchorClick()">Starex MOU's</a>
                    </li>

                    <li>
                        <a routerLink="law" (click)="handleAnchorClick()">Recognition &amp; Approvals</a>
                    </li>
                    <li>
                        <a routerLink="law" (click)="handleAnchorClick()">Mandatory Disclosure</a>
                    </li>

                    <li>
                        <a routerLink="law" (click)="handleAnchorClick()">Course Eligibility</a>
                    </li>
                    <li>
                        <a targert="_blank"
                            href="https://www.starexuniversity.com/app-assets/vendors/assets/pdf/information_for_ugc_inspection.pdf">Information
                            for UGC Inspection</a>
                    </li>
                    <li>
                        <a routerLink="law" (click)="handleAnchorClick()">Details of Ombudsperson</a>
                    </li>

                    <li>
                        <a routerLink="law" (click)="handleAnchorClick()">Policies</a>
                    </li>


                    <li>
                        <a routerLink="law" (click)="handleAnchorClick()">Organogram</a>
                    </li>
                </ul>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title> Governance </mat-panel-title>
                </mat-expansion-panel-header>
                <ul class="dropmenu">

                    <li>
                        <a routerLink="law" (click)="handleAnchorClick()">University Authorities</a>
                    </li>
                    <li> <a routerLink="law" (click)="handleAnchorClick()">Committees &amp; Boards</a></li>

                </ul>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title> Starex Schools </mat-panel-title>
                </mat-expansion-panel-header>
                <ul class="dropmenu">
                    <li>
                        <a routerLink="law" (click)="handleAnchorClick()">Agriculture Science</a>
                    </li>
                    <li>
                        <a routerLink="law" (click)="handleAnchorClick()">Commerce &amp; Management</a>
                    </li>
                    <li>
                        <a routerLink="law" (click)="handleAnchorClick()">Physical Sciences</a>
                    </li>
                    <li>
                        <a routerLink="law" (click)="handleAnchorClick()">Computer Science &amp; Technology </a>
                    </li>
                    <li>
                        <a routerLink="law" (click)="handleAnchorClick()">Engineering &amp; Technology</a>
                    </li>
                    <li>
                        <a routerLink="law" (click)="handleAnchorClick()">Pharmaceutical Science </a>
                    </li>
                    <li>
                        <a routerLink="law" (click)="handleAnchorClick()">Hotel Management</a>
                    </li>
                    <li>
                        <a routerLink="law" (click)="handleAnchorClick()">Humanities</a>
                    </li>
                    <li>
                        <a routerLink="law" (click)="handleAnchorClick()">Law</a>
                    </li>
                    <li>
                        <a routerLink="law" (click)="handleAnchorClick()">Life Sciences</a>
                    </li>
                    <li>
                        <a routerLink="law" (click)="handleAnchorClick()">Vocational Courses</a>
                    </li>

                </ul>
            </mat-expansion-panel>
        </mat-accordion> -->
    </mat-menu>
</mat-toolbar>


<!-- <div  class="school_list">
        <div class="schoolContainer">
            <div class="schoolimage"><img
                    src="https://www.starexuniversity.com/uploads/StarexSchools/icons/Agricultural-Studies-Icon-03.png "
                    alt=""></div>
            <div class="title">
                <a href=" https://www.starexuniversity.com/academics/Agriculture-Science"> Agriculture Science</a>

            </div>
        </div>

        <div class="schoolContainer">
            <div class="schoolimage"><img
                    src="https://www.starexuniversity.com/uploads/StarexSchools/icons/Commerce-and-Management-Icon-05.png "
                    alt=""></div>
            <div class="title">
                <a href=" https://www.starexuniversity.com/academics/Commerce-Management"> Commerce &amp;
                    Management</a>

            </div>
        </div>

        <div class="schoolContainer">
            <div class="schoolimage"><img
                    src="https://www.starexuniversity.com/uploads/StarexSchools/icons/Physical-Science-Icon-19.png "
                    alt=""></div>
            <div class="title">
                <a href=" https://www.starexuniversity.com/academics/Physical-Sciences"> Physical Sciences</a>

            </div>
        </div>

        <div class="schoolContainer">
            <div class="schoolimage"><img
                    src="https://www.starexuniversity.com/uploads/StarexSchools/icons/Coumputer-Sciences-Icon-07.png "
                    alt=""></div>
            <div class="title">
                <a href=" https://www.starexuniversity.com/academics/Computer-Science-Technology"> Computer Science
                    &amp; Technology </a>

            </div>
        </div>

        <div class="schoolContainer">
            <div class="schoolimage"><img
                    src="https://www.starexuniversity.com/uploads/StarexSchools/icons/Pharmaceutical-Sciences-Icon-01.png "
                    alt=""></div>
            <div class="title">
                <a href=" https://www.starexuniversity.com/academics/Pharmaceutical-Science"> Pharmaceutical Science
                </a>

            </div>
        </div>

        <div class="schoolContainer">
            <div class="schoolimage"><img
                    src="https://www.starexuniversity.com/uploads/StarexSchools/icons/Hotel-Management-Icon-10.png "
                    alt=""></div>
            <div class="title">
                <a href=" https://www.starexuniversity.com/academics/Hotel-Management"> Hotel Management</a>

            </div>
        </div>

        <div class="schoolContainer">
            <div class="schoolimage"><img
                    src="https://www.starexuniversity.com/uploads/StarexSchools/icons/Humanities-Icon-11.png " alt="">
            </div>
            <div class="title">
                <a href=" https://www.starexuniversity.com/academics/Humanities"> Humanities</a>

            </div>
        </div>

        <div class="schoolContainer">
            <div class="schoolimage"><img
                    src="https://www.starexuniversity.com/uploads/StarexSchools/icons/Law-Icon-12.png " alt="">
            </div>
            <div class="title">
                <a href=" https://www.starexuniversity.com/academics/Law"> Law</a>

            </div>
        </div>

        <div class="schoolContainer">
            <div class="schoolimage"><img
                    src="https://www.starexuniversity.com/uploads/StarexSchools/icons/Life-Sciences-Icon-14.png "
                    alt=""></div>
            <div class="title">
                <a href=" https://www.starexuniversity.com/academics/Life-Sciences"> Life Sciences</a>

            </div>
        </div>
    </div>  -->