.py50 {
    padding-bottom: 50px;
    padding-top: 50px;
}
.footer {
    background: #284fa7;
    color: #fff;
}

.footer {
    width: 100%;
    float: left;
    position: relative;
}
ul a{
    color: white;
}