.footer-container {
  background-color: #3059ae;
  color: #fff;
  padding: 40px 20px;
  font-family: 'Inter', sans-serif;
}

.footer-content {
  max-width: 1200px;
  margin: auto;
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin-bottom: 40px;
}

.link-column,
.contact-column {
  flex: 1 1 300px;
}

.link-column h3,
.contact-column h3 {
  font-size: 1.2rem;
  margin-bottom: 16px;
  color: #fff;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 8px;
}

a {
        display: inline-block;
        text-decoration: none;
        border-radius: 8px;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        perspective: 1000px;
        /* Enables 3D effect */
        min-height: 1.5rem;
        //width: 100%;
        color: #e3eef4
    }

    li a:before {
        content: '-';
        margin-right: 8px;
    }

    a:hover {
        transform: rotateX(5deg) rotateY(5deg) scale(1.05);
        cursor: pointer;
    }

.contact-column mat-icon {
  vertical-align: middle;
  margin-right: 8px;
  font-size: 18px;
}

.footer-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding-top: 20px;
}

.social-icons a {
  margin-right: 12px;
}

.social-icons img {
  width: 2.8rem;
  height: 2.8rem;
}

.copyright {
  font-size: 0.85rem;
  color: #eee;
}
p{
    color:whitesmoke
}
@media (max-width: 768px) {
  .footer-links {
    flex-direction: column;
  }

  .footer-bottom {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }
}
