<section class="press-media py50">
  <div class="container">
    <h1 class="section-title">Starex Press Media</h1>

    <div class="masonry-grid">
      <div class="masonry-item" *ngFor="let item of pressMediaData">
        <img [src]="item.image" [alt]="item.title || 'Press Media'" />
        <div class="item-meta">
          <h4 *ngIf="item.title">{{ item.title }}</h4>
          <p *ngIf="item.date"><mat-icon>calendar_today</mat-icon> {{ item.date }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
