table {
  width: 100%;
}
a{
     color: #284fa7;
}
p{
  line-height: 1.8;
    font-size: 18px;
    color: #3C3D3E;
    letter-spacing: .2px;
    font-family: Lato, sans-serif;
}
.container{
    margin:0 1rem;
   
}.about-head-img{
  width:80%;
  height: 70vh;
}