<section class="important-notice">
  <div class="container">
    <h2 class="section-title">📢 Important Notices</h2>

    <!-- Document Links -->
    <div class="notice-documents">
      <div class="doc-card" *ngFor="let doc of documentLinks">
        <a [href]="doc.url" target="_blank">
          <mat-icon>description</mat-icon>
          <span>{{ doc.title }}</span>
        </a>
      </div>
    </div>

    <!-- Image Notices -->
    <div class="notice-gallery">
      <div class="notice-card" *ngFor="let img of imageNotices">
        <img [src]="img.url" [alt]="img.alt" />
      </div>
    </div>
  </div>
</section>
