html, body { height: 100%; }
body {
     width: 100vw;
  max-width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    overflow: visible
     }
     app-root{
        display: block;
        overflow: visible;
     }
     .mat-icon {
  font-family: 'Material Icons' !important;
}
a{
    text-decoration: none;
}
.mat-expansion-panel{
  margin-top:1rem !important;
}
/* Extra small devices (phones, <576px) */
@media (max-width: 575.98px) {
  /* Your styles here */
}

/* Small devices (phones, ≥576px) */
@media (min-width: 576px) and (max-width: 767.98px) {
  /* Your styles here */
}

/* Medium devices (tablets, ≥768px) */
@media (min-width: 768px) and (max-width: 991.98px) {
  /* Your styles here */
}

/* Large devices (laptops, ≥992px) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  /* Your styles here */
}

/* Extra large devices (desktops, ≥1200px) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
  /* Your styles here */
}

/* XXL devices (ultra-wide screens, ≥1400px) */
@media (min-width: 1400px) {
  /* Your styles here */
}

html {
  // font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

.mat-mdc-menu-panel{
min-width:100vw !important;
max-width: 100% !important;
margin-top:1.1rem;
background-color: #134080e6 !important;
}
@media (min-width: 1440px) {
  html {
    zoom: 1.5;
  }
}

@media (min-width: 2560px) {
  html {
    zoom: 1.7;
  }
}

@media (min-width: 3860px) {
  html {
    zoom: 2.5;
  }
}

.text-center {
  text-align: center;
}

.section-heading {
  font-size: 3rem;
  color: var(--primary);
  padding: 2rem 0;
}



@media (max-width:1440px) {
  #tranding {
    padding: 1rem 1rem 4rem;
  }
}

#tranding .tranding-slider {
  position: relative;
}

@media (max-width:500px) {
  #tranding .tranding-slider {
    height: 45rem;
  }
}

.tranding-slide {
  width: 25rem;
  height: 28rem;
  position: relative;
}

@media (max-width:500px) {
  .tranding-slide {
    width: 28rem !important;
    height: 36rem !important;
  }
  .tranding-slide .tranding-slide-img img {
    width: 28rem !important;
    height: 36rem !important;
  }
}

.tranding-slide .tranding-slide-img img {
  width: 25rem;
  height: 28rem;
  border-radius: 2rem;
}

.tranding-slide .tranding-slide-content {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.tranding-slide-content .food-price {
  position: absolute;
  top: 2rem;
  right: 2rem;
  color: var(--white);
}

.tranding-slide-content .tranding-slide-content-bottom {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  color: var(--white);
}

.food-rating {
  padding-top: 1rem;
  display: flex;
  gap: 1rem;
}

.rating ion-icon {
  color: var(--primary);
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.tranding-slider-control {

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.swiper-custom-control svg {
    cursor: pointer;
    opacity: .6;
    transition: all .3s ease-in-out;
}

.swiper-custom-nav svg:hover {
    opacity: 1;
}

.tranding-slider-control .swiper-button-next {
  left: 58% !important;
  transform: translateX(-58%) !important;
}

@media (max-width:990px) {
  .tranding-slider-control .swiper-button-next {
    left: 70% !important;
    transform: translateX(-70%) !important;
  }
}

@media (max-width:450px) {
  .tranding-slider-control .swiper-button-next {
    left: 80% !important;
    transform: translateX(-80%) !important;
  }
}

@media (max-width:990px) {
  .tranding-slider-control .swiper-button-prev {
    left: 30% !important;
    transform: translateX(-30%) !important;
  }
}

@media (max-width:450px) {
  .tranding-slider-control .swiper-button-prev {
    left: 20% !important;
    transform: translateX(-20%) !important;
  }
}

.tranding-slider-control .slider-arrow {
   display: flex;
   justify-content: center;
   align-items: center;
  background: var(--white);
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  left: 42%;
  transform: translateX(-42%);
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.tranding-slider-control .slider-arrow ion-icon {
  font-size: 2rem;
  color: #222224;
}

.tranding-slider-control .slider-arrow::after {
  content: '';
}

.tranding-slider-control .swiper-pagination {
  position: relative;
  width: 15rem;
  bottom: 1rem;
}

.tranding-slider-control .swiper-pagination .swiper-pagination-bullet {
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.tranding-slider-control .swiper-pagination .swiper-pagination-bullet-active {
  background: var(--primary);
}
   .swiper-slide img{
      width: 100%;
      height: 100%;
    object-position: center;
    transition: all .3s ease;
   filter:grayscale(100%) brightness(100%);
}  

.swiper-slide-active img{
   z-index: 100;
   filter:grayscale(0%) brightness(100%);
   cursor: pointer;
}

.swiper-slide figcaption {
    position: absolute;
    bottom: 0;
    color: #fff;
    font-size: 17px;
    font-family: var(--secondary-ff);
    line-height: 29px;
    background-color: var(--black);
    display: flex;
    width:100%;
    justify-content: center;
    gap: .5rem;
    border-radius: .5rem .5rem 0 0;
    padding: 1rem 2rem;
    left: 50%;
    transform: translate3d(-50%, 100%, 0);
    opacity: 0;
    transition: all .3s ease-in-out;
}

.swiper-slide-active figcaption {
    transform: translate3d(-50%, 0, 0);
    opacity: 1;
}

.swiper-slide figcaption img {
    width: auto;
    height: auto;
    object-fit: contain;
}
