table {
  width: 100%;
}
.container{
    margin:0 1rem;

}
.contentTitle{
    text-transform: uppercase;
    color: #284fa7;
    border-bottom: 1px dashed #284fa7;
    padding-bottom: 10px;
    font-weight: 700;
}
a{
     color: #284fa7;
}
p{
  line-height: 1.8;
    font-size: 18px;
    color: #3C3D3E;
    letter-spacing: .2px;
    font-family: Lato, sans-serif;
}